<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/layout :: head"></head>
    <link rel="stylesheet" th:href="@{/css/chat.css}" />
    <body>
        <header th:replace="layout/layoutComun :: header"></header>
        <div class="container-fluid py-4">
            <div class="card bg-light w-100 p-3">
                <div class="card-header">
                    <h4 class="text-center" th:text="#{text.eventos.salaEvento} + ${eventoFinalUser.sala.nombre}"></h4>
                    <div style="display: flex; justify-content: space-around;">
                        <div th:text="'Inicio de la reunión:  ' +${#temporals.format(eventoFinalUser.horarioDefinitivo,'dd-MM-yyyy HH:mm')}"></div>
                        <br />
                        <div th:text="'Final de la reunión:  ' + ${#temporals.format(eventoFinalUser.horarioDefinitivoFin,'dd-MM-yyyy HH:mm')}" id="terminaReunion"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <input hidden="hidden" th:value="${eventoFinal_id}" id="eventoFinal_id" />
                        <input type="hidden" th:value="${bandera}" id="bandera" />
                        <div class="row">
                            <div class="col-md-6 col-sm-4">
                                <span>
                                    <a
                                        class="btn btn-info"
                                        data-toggle="tooltip"
                                        th:text="#{text.reunion.verRepositorio}"
                                        target="_blank"
                                        th:href="@{/eventos/repositorioArchivos/} + ${eventoFinal_id}"
                                        onclick="return confirm('Vas a ver el respositorio de archivos');"
                                    ></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:replace="eventos/js/helper-form :: Finalizar-Reunion"></script>
        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>
